flask==3.0.3
flask-cors==4.0.1
python-dotenv==1.0.1
pinecone-client==4.1.0
openai>=1.66.0
pypdf==4.2.0
langchain-text-splitters==0.2.4
tqdm==4.66.4
gunicorn==23.0.0
langfuse==4.15.1
httpx==0.28.1
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.10
Flask-Migrate==4.1.0
